:root {
    --main-offset: 20px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

.nav {
    background: purple;
    display: flex;
    flex-direction: column;
    width: 200px;
}
.nav a {
    color: #fff;
    padding: var(--main-offset);
    text-decoration: none;
    transition: all 1s;
}

.btn {
    background: rgb(201, 188, 4);
    padding: 5px 15px;
    color: #fff;   
}

.btn:hover {
    background: rgb(224, 224, 3);
    cursor: pointer;
}

.btn.btn-delete {
    background: rgb(182, 23, 23);
}

.btn.btn-delete:hover {
    background: rgb(248, 70, 70);
}

.btn.btn-edit {
    background: rgb(26, 26, 131);
}

a.btn {
    text-decoration: none;
}

.table .btn {
    margin-right: 8px;
    border: none;
}

.nav a:hover {
    background: rgba(255, 255, 255, .3)
}

.container {
    padding: var(--main-offset);
}

.mb {
 margin-bottom: var(--main-offset);
}

.form {
    padding: var(--main-offset);
    border: 1px solid #eee;
}
.form label {
    display: flex;
}

.form button {
    margin-top: 15px;
}

#new-entry-form {
    display: none;
}

#new-entry {
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}
.table tbody tr {
    transition: background cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.table tbody tr:nth-child(odd) {
 background:#f6f6f6;
}

.table tbody tr:hover {
    background: rgb(207, 207, 207);
}

.table th,
.table td {
    padding: 15px;
}

#pagination {
    display: flex;
    background:violet;
    margin: 0;
    padding: 0;
    margin-top: var(--main-offset);
}

#pagination li {
    list-style: none;
    padding: 8px;
    border:1px solid #fff;
    color: #fff;
    background: purple;
}

#pagination li:hover {
    cursor:pointer;
}